DB_URL=jdbc:postgresql://localhost:5432/footybook_db
DB_USERNAME=footybook_user
DB_PASSWORD=footybook_pass

JWT_SECRET_KEY=your_secret_key_here_at_least_256_bits
JWT_EXPIRATION=86400000
JWT_REFRESH_EXPIRATION=604800000

SERVER_PORT=8080